<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <h1>Your account</h1>
</head>
<body>
<!--<form method="get" action="/">-->
<!--  <input type="text" name="filter" th:value="${filter}"/>-->
<!--  <button type="submit">Найти</button>-->
<!--</form>-->
Registration:
<div>
    <form th:action="@{/registration}" method="post">
        <div><label> Firstname : <input type="text" name="firstName"/> </label></div>
        <div><label> Lastname: <input type="text" name="lastName"/> </label></div>
        <div><label> Email: <input type="email" name="email"/> </label></div>
        <div><label> Country: <input type="text" name="country"/> </label></div>
        <div><label> City: <input type="text" name="city"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>



</body>
</html>

