<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <form method="post" th:action="@{/transaction}" th:object="${receiver}">

        <label for="firstName">Firstname</label>
        <input type="text" th:field="${receiver.firstName}" id="firstName" placeholder="Firstname"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br/>

        <label for="lastName">Lastname</label>
        <input type="text" th:field="${receiver.lastName}" id="lastName" placeholder="Lastname"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br/>

        <label for="id">Account Id</label>
        <input type="text" th:field="${receiver.id}" id="id" placeholder="id"/>
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span><br/>

        <label for="amount">Amount of transaction</label>
        <input type="text" th:field="${transaction.amount}" id="amount" placeholder="Amount"/>

        <input type="submit" value="Send">
    </form>
</div>
</body>
</html>
